
// background colors
$bg-clr-1: #14291f;
$bg-clr-2: #dfe6c7;
$bg-clr-3:#d4d4d4;

// buttons
$bg-clr-4: #116772;

// fonts
$font-clr-1:#14291f;
$font-clr-2:#dfe6c7;
$font-clr-3:#000000;
$font-clr-4:#e4ff8a;


