* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@import "./nav";
@import "./variables";
@import "./stickynotes";




body {
    background-color: $bg-clr-1;
}
.home-container { 
    display: flex;
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    width:auto;
    background-color: $bg-clr-1;

    }
    

.home-content-container {
    margin: 0 4em;
    display: flex;
    flex-direction: column;
    height: auto;
    line-height: 3em;
    font-family: 'Montserrat', sans-serif;
    
    .first-name {
        font-weight: 600;
        font-size: 4rem;
        margin: 0 0 .25em 0;
        a {
            text-decoration: none;
            color: $font-clr-2;
        }
    }
    .last-name {
        color: $font-clr-2;
        font-size: 3rem;
        font-weight: 300;
    }
    .h2-tile-1 {
        margin: 1em 0 1em 0;
        line-height: 0%;
        color: $font-clr-4;
        font-weight: 300;
    }
    .h3-tile-1 {
        line-height: 0%;
        margin: 1em 0 0 0;
        color: $font-clr-4;
        font-weight: 200;
    }
    .home-content-container-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .h1-tile-3 {
            color: $font-clr-2;
            font-size: 3rem;
            text-align: end;
            line-height: 1.4em;
        }
        .p-tile-3 {
            color: $font-clr-2;
            line-height: 1.5em;
            margin: 1.5em 0 0 0;
            min-width: 200px;
            max-width: 900px;
            text-align: end;
            display: block;
            font-size: 1rem;
        }
    }
}


// buttons\
.a-about-me {
    margin: 4em 0 0 0;
    background-image: radial-gradient(ellipse at 10% 20%, #16613e, $bg-clr-1);
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    color: $font-clr-2;
    height: 6em;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    &:hover, &:focus {
        
        background-image: radial-gradient(ellipse at 10% 20%, #16613e, #14291fbd);
    }
    .h1-about-me {
        font-size: 1.5em;
        margin: 0;
    }
}
.a-cv {
    margin: 4em 0 0 0;
    background-image: radial-gradient(ellipse at 10% 20%, $bg-clr-2, #bdb987);
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    color: $font-clr-1;
    height: 6em;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    &:hover, &:focus {
        background-image: radial-gradient(ellipse at 10% 20%, $bg-clr-2, #bdb98785);
    }

    .h1-cv {
        font-size: 1.5em;
        margin: 0;
    }

}



.home-container-2 {
    background-image: -webkit-radial-gradient(top left, ellipse, #FDE152 0%, transparent), linear-gradient(to bottom, #FA715F, #FA715F 60%, #DB1174, #9B4CA7); 
    display: flex;
    height: auto;
    min-height: 500px;
    flex-direction: column;
    transform: skewY(-4deg);
    z-index: 2;
    &::before {
        content: '';
        width: 100vw;
        min-height: 100%;
        background-image: radial-gradient(closest-corner at 35% 45%, $bg-clr-2, #bdb987);
        position: absolute;
        z-index: 2;
        transform: skewY(6deg); 
        top: 0;
        left: 0;
        right: 0;
    }
    .home-content-container-2 {
        width: auto;
        margin: 0 0 0 2em;
        display: flex;
        flex-direction: column;
        line-height: 2em;
        align-items: baseline;
        justify-content: baseline;
        font-family: 'Montserrat', sans-serif;
        padding: 4em 0;
        transform: skewY(4deg);
        z-index: 2;
        #h1-about-me {
            font-size: 3rem;
            line-height: 1.4em;
            color: $font-clr-1;
        }
        p{
            margin: 1em 2em 0 0;
            line-height: 1.5em;
            width: auto;
            display: block;
            min-width: 200px;
            max-width: 500px;
            font-weight: 500;
            color: $font-clr-1;
        }
        
    }
}

#myWork {
    height: auto;
    .h1-tile-3 {
        margin: 2em 0 0 0;
    }
}
@import "./tablet-media-queries";
@import "./full-width-media-queries";