* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@import "./nav";
@import "./variables";
@import "./stickynotes";

.home-container {
    background-color: $bg-clr-1;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    width:auto;
    }
    

.home-content-container {

    margin: 0 4em;
    display: flex;
    flex-direction: column;
    height: auto;
    line-height: 3em;
    font-family: 'Montserrat', sans-serif;
    
    .first-name {
        font-weight: 600;
        font-size: 4rem;
        margin: 0 0 .25em 0;
        a {
            text-decoration: none;
            color: $font-clr-2;
        }
    }
    .last-name {
        color: $font-clr-2;
        font-size: 3rem;
        font-weight: 300;
    }
    .h2-tile-1 {
        margin: 1em 0 1em 0;
        line-height: 0%;
        color: $font-clr-4;
        font-weight: 300;
    }
    .h3-tile-1 {
        line-height: 0%;
        margin: 1em 0 0 0;
        color: $font-clr-4;
        font-weight: 200;
    }
    .home-content-container-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .h1-tile-3 {
            color: $font-clr-2;
            font-size: 3rem;
            text-align: end;
            line-height: 1.4em;
        }
        .p-tile-3 {
            color: $font-clr-2;
            line-height: 1.5em;
            margin: 1.5em 0 0 0;
            min-width: 200px;
            max-width: 500px;
            text-align: end;
            display: block;
        }
    }
}


// buttons
.a-cv {
    margin: 4em 0 0 0;
    background-color: $bg-clr-4;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    color: $font-clr-2;
    height: 6em;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid $bg-clr-2;

    .h1-cv {
        font-size: 1.5em;
        margin: 0;
    }
}



.home-container-2 {
    background-color: $bg-clr-2;
    display: flex;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    .home-content-container-2 {
        width: auto;
        margin: 0 0 0 2em;
        display: flex;
        flex-direction: column;
        line-height: 2em;
        align-items: baseline;
        justify-content: baseline;
        font-family: 'Montserrat', sans-serif;
        padding: 4em 0;
        
        #h1-about-me {
            
            font-size: 3rem;
            line-height: 1.4em;
            color: $font-clr-1;
        }
        p{
            margin: 1em 2em 0 0;
            line-height: 1.5em;
            width: auto;
            display: block;
            min-width: 200px;
            max-width: 500px;
            font-weight: 500;
            color: $font-clr-1;
        }
    }
}

#myWork {
    height: auto;
    .h1-tile-3 {
        margin: 2em 0 0 0;
    }
}
@import "./tablet-media-queries";
@import "./full-width-media-queries";